#roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5em 0;

    .roadmap-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1140px;

        .roadmap-column {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .column-title {
                background: -webkit-linear-gradient(180deg, #316806 50%, #4c9405);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 4em;
                font-weight: 600;
                padding: 0 0 .3em 0;
            }

            .column-paragraph {
                color: #fff;
                font-size: 1.1em;
                font-weight: 400;
                line-height: 1.2;
                max-width: 800px;
                text-align: center;
            }

            .roadmap-list-wrapper {
                position: relative;
                width: 100%;

                &::after {
                    display: block;
                    position: absolute;
                    width: 100vw;
                    left: 50%;
                    right: auto;
                    top: 164px;
                    background-color: #203e03;
                    height: 2px;
                    margin: 0 0 0 -50vw;
                    opacity: 0.45;
                    z-index: 1;
                    content: '';
                }

                .roadmap-breakpoint {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    padding: 165px 0 0;

                    &::before {
                        position: absolute;
                        left: -10px;
                        right: -10px;
                        top: 164px;
                        background-color: #203e03;
                        height: 2px;
                        content: '';
                    }

                    .roadmap-item {
                        max-width: 20%;
                        margin: 0 15px;
                        position: relative;
                        text-align: center;
                        z-index: 2;

                        &:first-child::before {
                            display: block;
                            position: absolute;
                            left: -26px;
                            right: auto;
                            top: -5px;
                            background-color: #203e03;
                            width: 10px;
                            height: 10px;
                            border-radius: 100px;
                            content: '';
                        }

                        &:last-child::before {
                            display: block;
                            position: absolute;
                            right: -26px;
                            left: auto;
                            top: -5px;
                            background-color: #203e03;
                            width: 10px;
                            height: 10px;
                            border-radius: 100px;
                            content: '';
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 15px;
                            height: 15px;
                            top: -7px;
                            left: 50%;
                            right: auto;
                            margin: 0 0 0 -7px;
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                            background-color: #4c9405;
                        }

                        .roadmap-item-inner {
                            .roadmap-icon-wrapper {
                                position: absolute;
                                top: -150px;
                                left: 50%;
                                right: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #4c9405;
                                width: 110px;
                                height: 110px;
                                margin: 18px 0 0 -55px;
                                border-radius: 100px;

                                .roadmap-icon-image {
                                    width: 4em;
                                    fill: #fff;
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width: 3px;
                                    height: 18px;
                                    bottom: -17px;
                                    left: 50%;
                                    right: auto;
                                    margin: 0 0 0 -1px;
                                    background-color: inherit;
                                }
                            }

                            .roadmap-label {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 52px;
                                height: 52px;
                                margin: 21px auto 0;

                                &::before {
                                    position: absolute;
                                    left: 50%;
                                    right: auto;
                                    top: 0;
                                    background-color: #4c9405;
                                    border-radius: 100px;
                                    width: 52px;
                                    height: 52px;
                                    margin: 0 0 0 -26px;
                                    content: '';
                                }

                                .roadmap-step {
                                    position: relative;
                                    z-index: 2;
                                    color: #fff;
                                    font-size: 24px;
                                    font-weight: 800;
                                    text-align: center;
                                }

                                &::after {
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    right: auto;
                                    top: -27px;
                                    background-color: #4c9405;
                                    width: 3px;
                                    height: 30px;
                                    margin: 0 0 0 -1px;
                                    content: '';
                                }
                            }

                            .roadmap-item-info {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 22px 0 0;

                                .roadmap-title {
                                    color: #fff;
                                    font-size: 1.1em;
                                    font-weight: 500;
                                    line-height: 1.2;
                                    text-align: center;
                                    padding: 0 0 1em 0;
                                }

                                .roadmap-text {
                                    color: #fff;
                                    font-size: 0.9em;
                                    font-weight: 300;
                                    line-height: 1.5;
                                    text-align: center;
                                    min-width: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    #roadmap {
        .roadmap-container {
            width: 90%!important;

            .roadmap-list-wrapper {
                width: 100%!important;

                &::after {
                    display: none!important;
                }

                .roadmap-breakpoint {
                    flex-direction: column!important;
                    justify-content: flex-start!important;
                    padding: 0 40px!important;

                    &::before {
                        left: 5px!important;
                        right: auto!important;
                        top: -10px!important;
                        bottom: -10px!important;
                        height: auto!important;
                        width: 2px!important;
                    }

                    .roadmap-item {
                        max-width: none!important;
                        margin: 30px 0!important;
                        text-align: center!important;
                        width: 100%!important;

                        &:first-child::before {
                            left: -39px!important;
                            right: auto!important;
                            top: -45px!important;
                        }

                        &:last-child::before {
                            left: -39px!important;
                            right: auto!important;
                            top: auto!important;
                            bottom: -45px!important;
                        }

                        &::after {
                            top: 105px!important;
                            left: 50%!important;
                            right: auto!important;
                            margin: 0 0 0 -7px!important;
                        }

                        .roadmap-item-inner {
                            position: relative!important;
                            width: 100%!important;

                            &::before {
                                position: absolute!important;
                                top: 108px!important;
                                left: -33px!important;
                                right: auto!important;
                                display: block!important;
                                background-color: #203e03;
                                width: calc(50% + 33px)!important;
                                height: 2px!important;
                                content: ''!important;
                            }

                            .roadmap-icon-wrapper {
                                position: relative!important;
                                top: auto!important;
                                left: auto!important;
                                right: auto!important;
                                margin: 0 auto!important;
                                width: 90px!important;
                                height: 90px!important;

                                .roadmap-icon-image {
                                    width: 3em!important;
                                }
                            }

                            .roadmap-label {
                                margin: 48px auto 0!important;
                            }

                            .roadmap-item-info {
                                .roadmap-text {
                                    min-width: 90%!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}