#faq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5em 0;

    .faq-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5em;
        width: 1140px;

        .faq-column {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .column-title {
                background: -webkit-linear-gradient(180deg, #316806 50%, #4c9405);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 3em;
                font-weight: 600;
                padding: 0 0 .3em 0;
            }

            .column-text {
                color: #c9c9c9;
                font-size: 1em;
                font-weight: 400;
                line-height: 1.2;
                max-width: 600px;
            }

            .faq-wrapper {
                display: flex;
                flex-direction: column;
                gap: 50px;

                .faq-accordion-item {
                    .faq-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: .3s;
                        cursor: pointer;

                        .faq-question-title {
                            color: #fff;
                            font-size: 1.5em;
                            font-weight: 500;
                            transition: .3s;
                        }

                        .faq-arrow-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: .1em;
                            border: 2px solid #fff;
                            border-radius: .3em;
                            transition: .3s;

                            .arrow-icon-image {
                                width: 20px;
                                fill: #fff;
                                transform: rotate(-90deg);
                                transition: .3s;
                            }
                        }

                        &.active {
                            .faq-question-title {
                                color: #4c9405!important;
                            }
                            
                            .faq-arrow-container {
                                border-color: #4c9405!important;
    
                                .arrow-icon-image {
                                    fill: #4c9405!important;
                                    transform: rotate(0deg)!important;
                                }
                            }
    
                            &:hover {
                                filter: brightness(1);
                            }
                        }

                        &:hover {
                            .faq-header {
                                filter: brightness(0.8);
                                cursor: pointer;
                            }
                        }
                    }

                    .faq-body {
                        margin: 1em 0 0 0;
                        width: 600px;
                        overflow: hidden;

                        .faq-answer-text {
                            color: #c9c9c9;
                            font-size: 1em;
                        }

                        &.show {
                            max-height: 9999px;
                            transition: all .5s cubic-bezier(1,0,1,0);
                        }

                        &.hidden {
                            padding: 0;
                            max-height: 0;
                            transition: all .5s cubic-bezier(0,1,0,1);
                        }
                    }

                    .faq-footer {
                        background: linear-gradient(90deg, #1a380326, #4c9405, #1a380326);
                        width: 100%;
                        height: .2em;
                        margin: 1em 0 0 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    #faq {
        .faq-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .faq-column {
                width: 90%;

                .column-title {
                    text-align: center;
                }

                .faq-wrapper {
                    .faq-accordion-item {
                        .faq-body {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}